<nz-layout class="app-layout">
  <nz-sider class="menu-sidebar"
            nzCollapsible
            nzWidth="256px"
            nzBreakpoint="md"
            [(nzCollapsed)]="isCollapsed"
            [nzTrigger]="null">
    <div class="sidebar-logo">
      <a href="https://ng.ant.design/" target="_blank">
        <img src="https://ng.ant.design/assets/img/logo.svg" alt="logo">
        <h1>Ant Design Of Angular</h1>
      </a>
    </div>
    <ul nz-menu nzTheme="dark" nzMode="inline" [nzInlineCollapsed]="isCollapsed">
      <li nz-submenu nzOpen nzTitle="Producto" nzIcon="gift">
        <ul>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/home/productList">Listar Producto</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/home/productCreate">Crear Producto</a>
          </li>          
        </ul>
      </li>

      <li nz-submenu nzOpen nzTitle="Orden" nzIcon="form">
        <ul>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/home/orderList">Listar Ordenes</a>
          </li>                 
        </ul>
      </li>

      <li nz-submenu nzOpen nzTitle="Perfil" nzIcon="profile">
        <ul>
          <li nz-menu-item nzMatchRouter>
            <a (click)="logout()">Cerrar Sesión</a>
          </li>
        </ul>
      </li>

    </ul>
  </nz-sider>
  <nz-layout>
    <nz-header>
      <div class="app-header">
        <span class="header-trigger" (click)="isCollapsed = !isCollapsed">
            <i class="trigger"
               nz-icon
               [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"
            ></i>
        </span>
      </div>
    </nz-header>
    <nz-content>
      <div class="inner-content">
          <router-outlet></router-outlet>
      </div>
    </nz-content>
    <!-- <nz-footer>Ant Design ©2020 Implement By Angular</nz-footer> -->
  </nz-layout>
</nz-layout>
